{% extends 'base.html' %}
{% block title %}
  Info
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="static/Walmart_logo.jpg" alt="Walmart Logo">
        <p class="mt-2 bold-text">Box Finder</p>
        <p class="lead">Employee Email: {{ employee_email }}</p>
      </a>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" href="/result">Back</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container align-items-center">
    <h2>Your orders</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                  <th>Order number</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                  <td>{{ order.order_id }}</td>
                </tr>
                {% endfor %}
                </div>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
